.create-card-btn {
    width: 60px;
    height: 30px;
    border: none;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    background-color: lightsteelblue;
}

